:root {
  --swiper-theme-color: #000;
}
.swiper-slide {
  /* Center slide text vertically */
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-slider.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  bottom: 0px;
}

@media (width>=40rem) {
  .hero-slider.swiper {
    height: 500px;
  }
}